@model List<User>

<div id="info">
    <div class="topsection">
        <h1>@ViewBag.WedderOne and @ViewBag.WedderTwo's Wedding</h1>
        <h3><a href="~/logout">Log Out</a></h3>
        <h3><a href="~/dashboard">Dashboard</a></h3>
    </div>
    <h2>Date: @ViewBag.Date</h2>
    <div class="side infoside">
        <h2>Guests:</h2>
        <div class="guests">
            @foreach(var guest in @Model)
            {
                <h4>@guest.FirstName @guest.LastName</h4>
            }
        </div>
    </div>
    <div class="side infoside googleapi">
            <iframe width="520" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAbxTibAHA6y1XSB5_RXnb0gVUB3AgeGiM&q=@ViewBag.Address" allowfullscreen></iframe>
    </div>
</div>